.aboutHeader {
 display: flex;
 padding-top: 20vh;
  width: 30vw;
  display: block;
  margin: auto;
  font-weight: 400;

}

.aboutHeaderText {
  width: 60vw;
 padding-top: 10vh;
  font-size: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
  height: 40vh;
  display: flex;
  align-self: baseline;
  margin: auto;
  text-align: center;
  box-shadow: -20px -11px 162px -176px rgba(192, 196, 18, 0.41);
  -webkit-box-shadow: -20px -11px 162px -176px rgba(192, 196, 18, 0.41);
  -moz-box-shadow: -20px -11px 162px -176px rgba(192, 196, 18, 0.41);
}
