.bannerMain {
  background-color: rgb(247, 249, 250);
  height: 100vh;

display: flex;
flex-direction:row;

}

/*primer caudrado*/
.esferaContainer{
  display: flex;
  align-self: center;
  justify-content:start;
  padding-bottom: 4rem;
  padding-left:5rem !important ;

}
.esfera {
  display: flex;
  justify-content: center;
  align-content: center;
  clip-path: polygon(
    50% 0%,
    83% 12%,
    100% 43%,
    94% 78%,
    68% 100%,
    32% 100%,
    6% 78%,
    0% 43%,
    17% 12%
  );

  padding: 3rem 4rem 0 1rem;
  height: 90%;

  border-radius: 30%;
  background: rgb(129, 204, 176);
}

/*segundo caudrado*/

.textContainer {
  display: flex;
  padding: 5% 5% 0% 4% !important;
}

.textContainerPdos {
  margin: 12% 0 0% 0 !important;
}
