  /* <svg id="10015.io" viewBox="0 0 480 480" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" >
	<path fill="#474bff" d="M432.5,305Q419,370,362.5,407Q306,444,241,440Q176,436,132,393Q88,350,68.5,295Q49,240,70,186Q91,132,139,104.5Q187,77,248,52.5Q309,28,363,70Q417,112,431.5,176Q446,240,432.5,305Z" />
</svg> */



  .bannerMain{
    background-color: rgb(247, 249, 250);
    height: 100vh;
  }

.titulo {
  font-size: 2.5rem;
  font-weight: bold;
  color: #474bff; 
}

.subtitulo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #555; /* Color del texto */
}


.esfera {
 
  margin-top: 98px;
  margin-left: 65px;
  width: 85%;
  height: 85%;
  border-radius: 50%;
  background:  rgb(129, 204, 176) ;
}

.imgageC{
  position: relative;
  height: 40%;
}
.esferas{
   position:absolute;
   height: 30px;
} 